POSTGRES_DB=homeplatform
POSTGRES_USER=homeplatform
POSTGRES_PASSWORD=homeplatform-dev
POSTGRES_PORT=5432
ConnectionStrings__Database=Host=localhost;Port=5432;Database=homeplatform;Username=homeplatform;Password=homeplatform-dev
